openapi: 3.0.0
info:
  description: API for BlockScout web app
  version: 1.0.0
  title: BlockScout Addresses CelestiaService API
  contact:
    email: support@blockscout.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://eth.blockscout.com/api/v2/
  description: Ethereum mainnet
- url: https://optimism.blockscout.com/api/v2/
  description: Optimism mainnet
- url: https://base.blockscout.com/api/v2/
  description: Base mainnet
- url: https://eth-sepolia.blockscout.com/api/v2/
  description: Ethereum testnet
tags:
- name: CelestiaService
paths:
  /api/v1/celestia/blob:
    get:
      operationId: CelestiaService_GetBlob
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CelestiaBlob'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: height
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: commitment
        in: query
        required: false
        schema:
          type: string
      - name: skipData
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - CelestiaService
  /api/v1/celestia/l2BatchMetadata:
    get:
      operationId: CelestiaService_GetL2BatchMetadata
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CelestiaL2BatchMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: height
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: namespace
        in: query
        required: false
        schema:
          type: string
      - name: commitment
        in: query
        required: false
        schema:
          type: string
      tags:
      - CelestiaService
  /health:
    get:
      summary: 'If the requested service is unknown, the call will fail with status

        NOT_FOUND.'
      operationId: Health_Check
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: service
        in: query
        required: false
        schema:
          type: string
      tags:
      - CelestiaService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    v1CelestiaBlobId:
      type: object
      properties:
        height:
          type: string
          format: uint64
        namespace:
          type: string
        commitment:
          type: string
    HealthCheckResponseServingStatus:
      type: string
      enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
      default: UNKNOWN
      description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
    v1CelestiaL2BatchMetadata:
      type: object
      properties:
        l2ChainId:
          type: integer
          format: int64
        l2BatchId:
          type: string
        l2StartBlock:
          type: string
          format: uint64
        l2EndBlock:
          type: string
          format: uint64
        l2BatchTxCount:
          type: integer
          format: int64
        l2BlockscoutUrl:
          type: string
        l1TxHash:
          type: string
        l1TxTimestamp:
          type: string
          format: uint64
        l1ChainId:
          type: integer
          format: int64
        relatedBlobs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v1CelestiaBlobId'
    v1CelestiaBlob:
      type: object
      properties:
        height:
          type: string
          format: uint64
        namespace:
          type: string
        commitment:
          type: string
        timestamp:
          type: string
          format: uint64
        size:
          type: string
          format: uint64
        data:
          type: string
    v1HealthCheckResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/HealthCheckResponseServingStatus'
